[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
vobject = "*"
pillow = "*"
drf-yasg = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
django-cloudinary-storage = "*"
whitenoise = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
